openapi: 3.0.3
info:
  title: Aegis AI Gateway API
  description: Control plane and orchestration endpoints for the Aegis AI Enterprise Platform.
  version: 2.1.0
  contact:
    name: Aegis Security Team
    url: https://aegis.ai
servers:
  - url: https://api.aegis.ai/v2
    description: Production Cluster
  - url: http://localhost:8080/v2
    description: Local Development Environment
tags:
  - name: Pentest Operations
    description: Launch and manage offensive security workflows
  - name: Vulnerabilities
    description: Retrieve intelligence on discovered CVEs and misconfigurations
  - name: Remediation
    description: Auto-generated patch manifests and Pull Requests
  - name: Authentication
    description: Identity management and session control
security:
  - BearerAuth: []
paths:
  /auth/login:
    post:
      summary: Authenticate a User and retrieve an Access Token
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                  token_type:
                    type: string
                    example: Bearer
        '401':
          description: Invalid credentials
        '500':
          description: Internal Server Error

  /auth/refresh:
    post:
      summary: Refresh an expired Access Token
      tags:
        - Authentication
      description: Uses the refresh_token stored in the HTTP-only cookie.
      responses:
        '200':
          description: New Access Token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
        '401':
          description: Invalid or expired refresh token
        '500':
          description: Internal Server Error

  /auth/logout:
    post:
      summary: Revoke session and logout
      tags:
        - Authentication
      responses:
        '204':
          description: Successfully logged out
        '500':
          description: Internal Server Error

  /scans:
    get:
      summary: List all Pentest Scans
      tags:
        - Pentest Operations
      responses:
        '200':
          description: A list of all scans ordered by start date
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scan'
        '500':
          description: Internal Server Error
    post:
      summary: Initialize a new Pentest Scan Workflow
      tags:
        - Pentest Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_image
              properties:
                target_image:
                  type: string
                  description: The Docker image to scan (e.g. nginx:latest)
      responses:
        '201':
          description: Scan Job successfully dispatched to Temporal
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                    format: uuid
                  temporal_workflow_id:
                    type: string
                  status:
                    type: string
                    example: PENDING
        '400':
          description: Invalid JSON or missing parameters
        '500':
          description: Internal Server Error (Database or Temporal unreachable)

  /scans/{id}:
    get:
      summary: Retrieve the Status of a Specific Scan
      tags:
        - Pentest Operations
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the Scan
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Details and current status of the scan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '404':
          description: Scan not found
        '500':
          description: Internal Server Error

  /scans/{id}/vulnerabilities:
    get:
      summary: Retrieve Vulnerabilities for a Specific Scan
      tags:
        - Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the Scan
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A list of discovered vulnerabilities for the given scan
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    vuln_type:
                      type: string
                    severity:
                      type: string
                    target_endpoint:
                      type: string
                    description:
                      type: string
                    discovered_at:
                      type: string
                      format: date-time
        '400':
          description: Missing or invalid scan ID
        '500':
          description: Internal Server Error

  /scans/{id}/report:
    get:
      summary: Download the Pentest PDF Report for a given Scan
      tags:
        - Pentest Operations
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the Scan
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The generated PDF report for the scan
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Missing or invalid scan ID
        '404':
          description: Scan not found or PDF not yet generated
        '500':
          description: Internal Server Error

  /scans/stream:
    get:
      summary: Establish a global Server-Sent Events (SSE) stream for all scans
      description: |
        Provides real-time updates on scan statuses across the platform.
        The client should maintain a persistent connection.
      tags:
        - Pentest Operations
      responses:
        '200':
          description: SSE stream established
          content:
            text/event-stream:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                    format: uuid
                  status:
                    type: string
        '500':
          description: Internal Server Error

  /scans/{id}/stream:
    get:
      summary: Establish an SSE stream for a specific scan
      tags:
        - Pentest Operations
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the Scan
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: SSE stream established for the specific scan
          content:
            text/event-stream:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                    format: uuid
                  status:
                    type: string
        '404':
          description: Scan not found
        '500':
          description: Internal Server Error

  /vulnerabilities/{id}/evidences:
    get:
      summary: Retrieve Evidences for a Specific Vulnerability
      tags:
        - Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the Vulnerability
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A list of payloads and loot blocks successfully extracted by the pentest worker
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    vulnerability_id:
                      type: string
                      format: uuid
                    payload_used:
                      type: string
                    loot_data:
                      type: object
                      description: Raw JSON blob of the fetched evidence (e.g. database dump, auth bypass tokens, XSS reflections)
                    captured_at:
                      type: string
                      format: date-time
        '400':
          description: Missing or invalid vulnerability ID
        '500':
          description: Internal Server Error

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Scan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        temporal_workflow_id:
          type: string
        target_image:
          type: string
        status:
          type: string
          example: PENDING
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
