openapi: 3.1.0
info:
  title: Aegis AI Gateway API
  description: |
    The **Aegis AI Control Plane** provides high-intensity orchestration and intelligence endpoints for offensive cyberdefense operations.

    ### Core Capabilities
    * **Scan Orchestration**: Trigger and monitor complex pentest workflows driven by Temporal.
    * **Vulnerability Intelligence**: Access detailed CVE analysis and misconfiguration data with technical evidences.
    * **Real-time Streaming**: Persistent SSE (Server-Sent Events) for live status updates across the global scan fleet.
    * **Zero Trust Auth**: Professional session management with JWT and HTTP-only cookie-based refresh tokens.
  version: 2.2.0
  contact:
    name: Aegis Security Engineering
    url: https://aegis.ai
    email: security@aegis.ai
  license:
    name: Proprietary
servers:
  - url: https://api.aegis.ai/v2
    description: Production Environment (Strict TLS 1.3 enforced)
  - url: http://localhost:8080/v2
    description: Local MVP Development Environment
tags:
  - name: Authentication
    description: Identity management and session lifecycle control
  - name: Pentest Operations
    description: Large-scale offensive security workflow management
  - name: Vulnerabilities
    description: Security intelligence on discovered threats and weaknesses
  - name: Platform
    description: Health monitoring and system status
security:
  - BearerAuth: []
paths:
  /health:
    get:
      summary: Retrieve the platform's health status
      tags:
        - Platform
      security: []
      responses:
        '200':
          description: System is operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
                  timestamp:
                    type: string
                    format: date-time

  /:
    get:
      summary: Retrieve platform root metadata
      description: Returns high-level versioning and core service status for initial environment handshake.
      tags:
        - Platform
      security: []
      responses:
        '200':
          description: Metadata retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "2.2.0"
                  service:
                    type: string
                    example: "Aegis AI Control Plane"

  /auth/login:
    post:
      summary: Authenticate and establish a session
      description: |
        Authenticates a user via email/password.
        Returns a short-lived JWT Access Token and sets an HTTP-only `refresh_token` cookie.
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  description: User's corporate email address
                password:
                  type: string
                  format: password
                  description: User's clear-text password
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid identity or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/me:
    get:
      summary: Retrieve the current user's profile
      tags:
        - Authentication
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      summary: Regenerate an Access Token
      description: |
        Automatically looks for the `refresh_token` in the secure HTTP-only cookie.
        If valid, issues a new JWT Access Token.
      tags:
        - Authentication
      responses:
        '200':
          description: New token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Refresh token expired or revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      summary: Terminate the current session
      description: Revokes the refresh token and clears session cookies globally.
      tags:
        - Authentication
      responses:
        '204':
          description: Successfully logged out

  /users/me/profile:
    put:
      summary: Update the current user's profile information
      description: Allows modification of public profile fields like name.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "John Doe"
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/me/profile/avatar:
    delete:
      summary: Remove the current user's profile picture
      description: Resets the avatar_url to null.
      tags:
        - Authentication
      responses:
        '200':
          description: Avatar removed successfully

  /users/me/email:
    put:
      summary: Update the current user's email address
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Email updated successfully

  /users/me/password:
    put:
      summary: Update the current user's password
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [old_password, new_password]
              properties:
                old_password:
                  type: string
                  format: password
                new_password:
                  type: string
                  format: password
      responses:
        '200':
          description: Password updated successfully

  /companies:
    get:
      summary: List all companies
      description: |
        Retrieves a list of all registered companies.
        Access restricted to administrative roles.
      tags:
        - Platform
      responses:
        '200':
          description: List of companies retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
    post:
      summary: Create a new company
      description: Registers a new organization in the system.
      tags:
        - Platform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
      responses:
        '201':
          description: Company created

  /companies/onboard:
    post:
      summary: Manual onboarding for new clients
      description: |
        Performs an atomic onboarding operation:
        1. Creates the Company.
        2. Generates a unique Deployment Token (`ag_` prefix).
        3. Creates the the initial Owner user account with the provided password.
      tags:
        - Platform
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardCompanyRequest'
      responses:
        '201':
          description: Onboarding successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardCompanyResponse'

  /scans:
    get:
      summary: List all orchestrated pentest scans
      tags:
        - Pentest Operations
      responses:
        '200':
          description: Paginated list of scans
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scan'
    post:
      summary: Initialize a new pentest workflow
      description: |
        Dispatches a new security scan job to the Temporal orchestration cluster.
        The system will automatically scale workers using KEDA if traffic peaks.
      tags:
        - Pentest Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScanRequest'
      responses:
        '201':
          description: Scan successfully queued for execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateScanResponse'

  /scans/{id}:
    get:
      summary: Retrieve the status of a specific scan
      tags:
        - Pentest Operations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Full scan details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '404':
          description: Scan ID not found in database

  /scans/stream:
    get:
      summary: Establish a universal live update stream (SSE)
      description: |
        Provides real-time Push updates for all scans moving across the platform.
        **Content-Type**: `text/event-stream`
      tags:
        - Pentest Operations
      responses:
        '200':
          description: SSE stream successfully established

  /scans/{id}/stream:
    get:
      summary: Establish a scan-specific live update stream (SSE)
      description: |
        Focuses the real-time stream on a single mission. High-efficiency filtering for dashboard mission monitoring.
        **Content-Type**: `text/event-stream`
      tags:
        - Pentest Operations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: SSE stream successfully established

  /scans/{id}/report:
    get:
      summary: Download the finalized pentest PDF report
      description: Generates or retrieves the professional PDF artifact for a completed scan.
      tags:
        - Pentest Operations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The binary PDF data
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /scans/{id}/vulnerabilities:
    get:
      summary: Retrieve technical vulnerabilities found during a scan
      tags:
        - Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of discovered CVEs and misconfigurations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vulnerability'

  /vulnerabilities/{id}/evidences:
    get:
      summary: Retrieve security evidence for a specific vulnerability
      description: Includes raw payloads, loot data, and proof-of-exploitation extracted by workers.
      tags:
        - Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Evidence payload list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Evidence'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT Access Token (short-lived)
        expires_in:
          type: integer
          description: Validity period in seconds
        token_type:
          type: string
          example: Bearer

    Scan:
      type: object
      required: [id, status, target_image]
      properties:
        id:
          type: string
          format: uuid
          description: Unique platform scan identifier
        temporal_workflow_id:
          type: string
          description: Internal Temporal orchestration ID
        target_image:
          type: string
          description: The target Docker image/endpoint (e.g. nginx:latest)
        status:
          type: string
          enum: [PENDING, PROVISIONING, SCANNING, ANALYZING, FINISHED, FAILED]
        started_at:
          type: string
          format: date-time
          description: ISO timestamp of scan initialization
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: ISO timestamp of scan completion

    CreateScanRequest:
      type: object
      required: [target_image]
      properties:
        target_image:
          type: string
          example: "ghcr.io/aegis/vulnerable-app:latest"

    CreateScanResponse:
      type: object
      properties:
        scan_id:
          type: string
          format: uuid
        status:
          type: string
          example: "PENDING"

    Vulnerability:
      type: object
      properties:
        id:
          type: string
          format: uuid
        vuln_type:
          type: string
          description: CVE ID or CWE category (e.g. SQLi, XSS)
        severity:
          type: string
          enum: [CRITICAL, HIGH, MEDIUM, LOW, INFO]
        target_endpoint:
          type: string
          description: The specific path or port where the vuln was found
        description:
          type: string
          description: Detailed technical summary of the weakness
        discovered_at:
          type: string
          format: date-time

    Evidence:
      type: object
      properties:
        id:
          type: string
          format: uuid
        vulnerability_id:
          type: string
          format: uuid
        payload_used:
          type: string
          description: The offensive payload string injected by the worker
        loot_data:
          type: object
          description: Raw evidence blob (e.g. database content, shadow file excerpt)
        captured_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        avatar_url:
          type: string
          nullable: true
        role:
          type: string
          enum: [superadmin, admin, billing_aegis, technicien, support, commercial, billing_client, operateur, viewer]
        company_id:
          type: string
          format: uuid
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        logo_url:
          type: string
          nullable: true
        deployment_token:
          type: string
          description: Unique token for probe deployment (ag_ prefix)
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    CreateCompanyRequest:
      type: object
      required: [name, owner_email]
      properties:
        name:
          type: string
        owner_email:
          type: string
          format: email

    OnboardCompanyRequest:
      type: object
      required: [company_name, owner_email, owner_password]
      properties:
        company_name:
          type: string
        owner_email:
          type: string
          format: email
        owner_password:
          type: string
          format: password

    OnboardCompanyResponse:
      type: object
      properties:
        company_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        deployment_token:
          type: string
          description: The generated deployment token for the Aegis Agent

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Descriptive error message explaining the failure
