openapi: 3.0.3
info:
  title: Aegis AI Gateway API
  description: Control plane and orchestration endpoints for the Aegis AI Enterprise Platform.
  version: 2.1.0
  contact:
    name: Aegis Security Team
    url: https://aegis.ai
servers:
  - url: https://api.aegis.ai/v2
    description: Production Cluster
  - url: http://localhost:8080/v2
    description: Local Development Environment
tags:
  - name: Pentest Operations
    description: Launch and manage offensive security workflows
  - name: Vulnerabilities
    description: Retrieve intelligence on discovered CVEs and misconfigurations
  - name: Remediation
    description: Auto-generated patch manifests and Pull Requests
paths:
  /scans:
    get:
      summary: List all Pentest Scans
      tags:
        - Pentest Operations
      responses:
        '200':
          description: A list of all scans ordered by start date
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scan'
        '500':
          description: Internal Server Error
    post:
      summary: Initialize a new Pentest Scan Workflow
      tags:
        - Pentest Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_image
              properties:
                target_image:
                  type: string
                  description: The Docker image to scan (e.g. nginx:latest)
      responses:
        '201':
          description: Scan Job successfully dispatched to Temporal
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                    format: uuid
                  temporal_workflow_id:
                    type: string
                  status:
                    type: string
                    example: PENDING
        '400':
          description: Invalid JSON or missing parameters
        '500':
          description: Internal Server Error (Database or Temporal unreachable)

  /scans/{id}:
    get:
      summary: Retrieve the Status of a Specific Scan
      tags:
        - Pentest Operations
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the Scan
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Details and current status of the scan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '404':
          description: Scan not found
        '500':
          description: Internal Server Error

  /scans/{id}/vulnerabilities:
    get:
      summary: Retrieve Vulnerabilities for a Specific Scan
      tags:
        - Vulnerabilities
      parameters:
        - name: id
          in: path
          required: true
          description: Unique ID of the Scan
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A list of discovered vulnerabilities for the given scan
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    vuln_type:
                      type: string
                    severity:
                      type: string
                    target_endpoint:
                      type: string
                    description:
                      type: string
                    discovered_at:
                      type: string
                      format: date-time
        '400':
          description: Missing or invalid scan ID
        '500':
          description: Internal Server Error

components:
  schemas:
    Scan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        temporal_workflow_id:
          type: string
        target_image:
          type: string
        status:
          type: string
          example: PENDING
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
